@import '../../styles/index.scss';

.view_container {
  position: relative;

  width: 100%;

  margin: 0.5rem 0;
}

.view_content {
  width: 100%;
  padding: 0.5rem;

  @include flex();

  // background-color: $color-background-view;
  background-color: gray;

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;
}

.content_data {
  width: 100%;

  margin-left: 1rem;
}

.marked {
  color: $color-text-marked;
  font-weight: 700;
  font-size: 1.4rem;
}

.flag {
  width: 14rem;
  height: 8rem;

  object-fit: cover;
  object-position: center;

  border-radius: 0.2rem;
  box-shadow: 2px 2px 4px $color-border-view;
}
