@import '../../styles/sass/abstract/abstracts';

.view_container {
  position: relative;

  @include size(100%);
  @include flex();

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @extend %transition-background;

  border: $border;
  border-radius: $radius-border-view;

  user-select: none;
}

.content_data {
  @include size(100%);
  padding: 0.5rem;

  background-color: $color-background-view-opacity;
  text-shadow: $text-shadow;
}

.content_title {
  padding-bottom: 0.5rem;
}

.content_population {
  padding-bottom: 0.5rem;
  border-bottom: $border-light;
}

.content_cases {
  padding-top: 0.5rem;
}

.marked {
  font-weight: 700;
}
