@import '../../styles/sass/abstract/abstracts';

.view_container {
  position: relative;

  @include size(100%);
  @include flex();

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @extend %transition-background;

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;

  user-select: none;
}

.content_data {
  @include size(100%);
  padding: 0.5rem;

  background-color: rgba(128,128,128,0.8);
}

.content_title {
  line-height: 1.3;
}

.marked {
  color: $color-text-marked;
  font-weight: 700;
  font-size: 1.6rem;
}
