@import '../../styles/sass/abstract/abstracts';

.view_container {
  position: relative;

  @include size(100%);

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;

  user-select: none;
}

.view_chart {
  @include size(100%);
}
