@import '../../styles/index.scss';

.view_container {
  position: relative;

  grid-area: chartView;

  width: 100%;
  height: 100%;

  user-select: none;
}

.view_content {
  position: relative;

  width: 100%;
  height: 100%;

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;
}

.view_chart {
  width: 100%;
  height: 100%;
}
