@import '../../styles/sass/abstract/abstracts';

.view_container {
  position: relative;

  @include size(100%);

  border: $border;
  border-radius: $radius-border-view;

  background-color: $color-background-view;

  user-select: none;

  @extend %animation-fadeIn;
}

.view_chart {
  @include size(100%);

  border-radius: inherit;
}
