@import '../../styles/sass/abstract/abstracts';

.view_container {
  position: relative;

  width: 100%;
  height: 100%;

  user-select: none;

  overflow-y: hidden;

  div + div {
    margin-top: 0.5rem;
  }
}

.view_search {
  width: 100%;
  padding: 0.5rem;

  background-color: $color-background-view;

  border: $border;
  border-radius: $radius-border-view;
}

.view_list {
  height: calc(100% - 9.3rem);
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;

  background-color: $color-background-view;

  border: $border;
  border-radius: $radius-border-view;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.4em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-border-view;
    border-radius: 0.2em;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.2em;
  }
}

.list_item {
  width: 100%;
  padding: 0.2rem 0;

  @include flex($justify-content: flex-start);

  border-bottom: $border;
  border-radius: $radius-border-view;

  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  @media (pointer: fine) {
    &:hover {
      background-color: $color-border-view;
    }
  }
}

.list_item img,
.list_item p,
.list_item div {
  pointer-events: none;
}

.item_content {
  width: 100%;
  margin-left: 1rem;

  overflow: hidden;
}

.item_country {
  flex-grow: 1;

  line-height: 1.3;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marked {
  color: $color-text-marked;
  font-weight: 700;
  font-size: 1.8rem;
}

.flag {
  width: 7rem;
  height: 4rem;
  flex-shrink: 0;

  object-fit: cover;
  object-position: center;

  border-radius: 0.1rem;
  box-shadow: 2px 2px 4px $color-border-view;
}
