@import '../../styles/index.scss';

.view_container {
  position: relative;

  grid-area: listView;

  width: 100%;
  height: 100%;

  overflow-y: hidden;
}

.view_content {
  width: 100%;
  height: 100%;

  background-color: $color-background-view;

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;
}

.view_list {
  height: calc(100% - 9rem);
  margin-top: 0.5rem;
  overflow-y: scroll;
}

.list_item {
  padding: 0.2rem 0;

  @include flex($justify-content: flex-start);

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;

  cursor: pointer;
}

.list_item:hover {
  // background-color: $color-background-view;
  background-color: gray;
}

.list_item img,
.list_item p,
.list_item div {
  pointer-events: none;
  user-select: none;
}

.item_content {
  width: 100%;
  margin-left: 1rem;
}

.marked {
  color: $color-text-marked;
  font-weight: 700;
  font-size: 1.6rem;
}

.flag {
  width: 7rem;
  height: 4rem;

  object-fit: cover;
  object-position: center;

  border-radius: 0.1rem;
  box-shadow: 2px 2px 4px $color-border-view;}
