@import '../../styles/sass/abstract/abstracts';

.switcher_container {
  position: relative;

  @include flex();
}

.switcher_item {
  @include flex();

  border-left: $border;
  border-right: $border;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.switcher_radio {
  width: 7.0rem;
  height: 2.5rem;
}
