@import '../../styles/sass/abstract/abstracts';

.controls_container {
  position: relative;

  height: 100%;

  @include flex();

  @include media-surface {
    width: 100%;
  }

  .controls_item + .controls_item {
    margin-left: 0.5rem;
  }
}

.controls_item {
  position: relative;

  @include flex();

  border-radius: $radius-border-view;
  box-shadow: $box-shadow-flag;

  background-color: transparent;

  font-size: 1.2rem;

  @include media-landscape {
    font-size: 1.1rem;
  }

  @include media-mobile {
    font-size: 1.0rem;
  }

  @include media-min {
    font-size: 0.8rem;
  }
}

.controls_toggle {
  width: 6.5rem;
  height: 2.5rem;

  @include media-landscape {
    width: 6.0rem;
  }

  @include media-mobile {
    width: 5.0rem;
  }

  @include media-min {
    width: 4.5rem;
  }
}
