@import '../../styles/index.scss';

.view_container {
  position: relative;
}

.view_content {
  height: 100%;

  @include flex();
}

.switcher_item {
  position: relative;

  margin-left: 1rem;
  padding: 0.25rem;

  box-shadow: 0px 0px 4px 1px $color-border-view;
  border-radius: $radius-border-view;

  background-color: transparent;

  font-size: 1.4rem;
}
