@import '../../styles/index.scss';

.view_container {
  position: relative;

  width: 100%;
}

.view_content {
  width: 100%;
  height: 4rem;
  margin-top: 0.5rem;

  @include flex($justify-content: space-between);

  background-color: $color-background-view;

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;
}
