@import '../../styles/sass/abstract/abstracts';

.view_container {
  position: relative;

  width: 100%;

  @include flex($justify-content: flex-start);

  border-top: $border;

  user-select: none;
}

.item_country {
  flex-grow: 1;
  margin-left: 1rem;

  padding: 0.4rem 0;
  text-shadow: $text-shadow;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flag {
  width: 7rem;
  height: 4rem;
  flex-shrink: 0;

  object-fit: cover;
  object-position: center;

  border-radius: 0.2rem;
  box-shadow: $box-shadow-flag;

  @extend %animation-fadeIn;
}

.close_button {
  @include size(3.5rem);
  flex-shrink: 0;
  margin-left: auto;

  font-size: 2rem;

  border-radius: $btn-border-radius;
}