@import '../../styles/sass/abstract/abstracts';

.view_container {
  position: relative;

  width: 100%;

  @include flex($justify-content: flex-start);

  border-radius: $radius-border-view;
  border-top: $border;

  user-select: none;
}

.item_country {
  flex-grow: 1;
  margin-left: 1rem;

  line-height: 1.4;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flag {
  width: 7rem;
  height: 4rem;

  object-fit: cover;
  object-position: center;

  border-radius: 0.1rem;
  box-shadow: 2px 2px 4px $color-border-view;
}

.close_button {
  @include size(4rem);

  margin-left: auto;

  font-size: 2rem;

  border-radius: $btn-border-radius;
}