@import '../../styles/index.scss';

.view_container {
  position: relative;

  width: 100%;

  margin: 0.5rem 0;
}

.view_content {
  width: 100%;

  @include flex($justify-content: flex-start);

  // background-color: $color-background-view;
  background-color: darkcyan;

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;
}

.view_button {
  @include size(3.5rem);

  margin-left: auto;
  margin-right: 0.5rem;

  padding: 0.25rem;
  border: 1px solid $color-border-view;
  border-radius: 50%;

  color: blue;
  font-weight: 700;
  font-size: 2rem;
}

.marked {
  margin-left: 1rem;

  color: $color-text-marked;
  font-weight: 700;
  font-size: 2rem;
}

.flag {
  width: 7rem;
  height: 4rem;

  object-fit: cover;
  object-position: center;

  border-radius: 0.1rem;
  box-shadow: 2px 2px 4px $color-border-view;
}