@import '../../styles/sass/abstract/abstracts';

.view_container {
  @include flex();

  font-size: 0.7em;

  color: $color-background;
}

.marked {
  font-weight: 700;
}

.loader {
  font-size: 0.5em;
}
