@import '../../styles/index.scss';

.view_container {
  position: relative;
}

.view_content {
  background-color: transparent;

  border: 1px solid $color-border-view;
  border-radius: $radius-border-view;
}

.marked {
  color: $color-text-marked;
  font-weight: 700;
}
