@import '../../styles/index.scss';

.view_container {
  position: relative;

  margin-top: 0.5rem;
}

.view_content {
  background-color: transparent;

  font-size: 0.75em;
}

.marked {
  // color: $color-text-marked;
  font-weight: 500;
}
