@import '../../styles/sass/abstract/abstracts';

.app {
  width: 100%;
}

.app_content {
  position: relative;

  @include flex($flex-direction: column, $align-items: flex-start);

  width: 100%;
  max-width: $content-width-wide;
  height: 100vh;

  margin: 0 auto;
  padding: 0.5rem $padding-wide 0.5rem;

  @extend %animation-fadeIn;

  @include media-wide {
    max-width: unset;
    padding-left: $padding-wide;
    padding-right: $padding-wide;
  }

  @include media-laptop {
    padding-left: $padding-laptop;
    padding-right: $padding-laptop;
  }

  @include media-tablet {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @include media-landscape {
    height: unset;
    padding-top: 0;
    padding-left: $padding-landscape;
    padding-right: $padding-landscape;

    @include media-tabletHight {
      height: 100vh;
      padding-top: 0.5rem;
    }
  }

  @include media-surface {
    height: unset;
    padding-top: 0;
    padding-left: $padding-surface;
    padding-right: $padding-surface;
  }

  @include media-mobile {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
}
