@import '../../styles/index.scss';

.app {
  position: relative;

  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

.app_content {
  width: 100%;
  max-width: $content-width-max;
  min-height: 100vh;

  margin: 0 auto;
  padding: 2rem $padding-max 1rem;

  @extend %animation-fadeIn;

  @include media-laptop {
    width: $content-width-laptop;
    padding-left: $padding-laptop;
    padding-right: $padding-laptop;
  }

  @include media-tablet {
    width: $content-width-tablet;
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @include media-mobile {
    width: $content-width-mobile;
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @include media-min {
    max-width: 100%;
    padding: 1rem $padding-mobile 1rem;
  }
}
