
.swiper-outer {
  position: relative;

  width: 100%;
}

.swiper-container {
  // position: relative;

  height: 57rem;
  width: 100%;

  padding: 0.5rem;
  // border: 1px solid gray;
  // margin-left: auto;
  // margin-right: auto;
  // padding: 0;

  // list-style: none;

  // z-index: 1;
  // overflow: hidden;
}

.swiper-wrapper {
  // box-sizing: content-box;

  // position: relative;

  // width: 100%;
  // height: 100%;
  // margin-bottom: 6.0rem;

  // display: flex;
  // align-items: flex-start;

  // z-index: 1;
  // transition-property: transform;
  // cursor: pointer;
}

.swiper-slide {
  // position: relative;
  box-sizing: border-box;

  // width: 30.0rem !important;

  // flex-shrink: 0;
  // transition-property: transform;
}

.swiper-pagination {
  // position: absolute;
  max-width: 30rem;
  bottom: 0 !important;
  padding: 0.5rem 0;

  // text-align: center;

  // transition: 300ms opacity;
  // transform: translate3d(0, 0, 0);

  z-index: $z-swiper-pagination;
  cursor: pointer;
}

.swiper-pagination-bullet {
//   display: inline-block;

  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem !important;

//   border-radius: 50%;

//   background: $color-dark;

//   opacity: 0.2;
//   cursor: pointer;

//   &--active {
//     background-color: $color-link-hover;
//     opacity: 1;
//   }
}

.swiper-button {
//   position: absolute;
//   bottom: 15.5rem;
  top: calc(50% - 5rem);

  width: 5.5rem;
  height: 10.0rem;

  border-radius: 5px;

//   background-repeat: no-repeat;
//   background-position: center center;

  @extend %transition-hover;

//   cursor: pointer;

  @include media-hover {
    &:hover {
      background-color: $color-shadow-light;
    }
  }

  &:active {
    box-shadow: 0 0 2px 2px $btn-color-hover;
    background-color: $color-shadow-light;
  }

  @include media-laptop-2 {
    width: 3.5rem;
  }

  @include media-tablet {
    display: none;
  }
}

.swiper-button-prev {
  // background-image: url(../images/prev.svg);
  left: -5.8rem;

  @include media-laptop-2 {
    left: -3.8rem;
  }
}

.swiper-button-next {
  // background-image: url(../images/next.svg);
  right: -5.8rem;

  @include media-laptop-2 {
    right: -3.8rem;
  }
}
