@import '../../styles/sass/abstract/abstracts';

.view_switcher {
  position: relative;

  display: inline-block;

  width: 6.5rem;
  height: 2.5rem;

  border-radius: inherit;

  overflow: hidden;

  opacity: 0.75;

  transition: opacity 0.2s linear;

  cursor: pointer;

  @include media-hover {
    &:hover {
      opacity: 1;
    }
  }

  @include media-landscape {
    width: 6.0rem;
  }

  @include media-mobile {
    width: 5.0rem;
    height: 3.0rem;
  }

  @include media-min {
    width: 4.5rem;
  }
}

.view_input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  position: relative;

  @include size(100%);
  margin: 0;
  padding: 0;

  border-radius: inherit;
  background-color: inherit;

  outline: none;

  font-family: inherit;
  font-size: inherit;
  line-height: 1;

  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    @include size(100%);
    top: 0;
    left: 0;
    z-index: 2;

    @include flex($align-items: center, $justify-content: center);

    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1;
    color: $color-text-marked;

    transition: color 0.2s linear;
  }

  &:before {
    content: attr(data-on);
  }

  &:after {
    content: attr(data-off);
  }

  &:checked {
    &:before {
      font-weight: 700;
    }
  }

  &:checked {
    &:after {
      color: transparent;
    }
  }

  &:checked + label {
    left: 0;
    animation: turnOn 0.2s linear;
  }

  &:not(:checked) {
    &:before {
      color: transparent;
    }
  }

  &:not(:checked) + label {
    left: 100%;
    animation: turnOff 0.2s linear;
  }
}

.view_label {
  display: inline-block;

  position: absolute;
  top: 0;
  z-index: 1;

  @include size(100%);

  border-radius: inherit;

  background-color: $color-background;

  pointer-events: none;
}

@keyframes turnOn {
  0% { left: 100%; }
  100% { left: 0%; }
}

@keyframes turnOff {
  0% { left: 0%; }
  100% { left: 100%; }
}
