button {
  margin: 0;
  padding: 0;

  border: none;

  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: inherit;
  text-align: center;

  cursor: pointer;
  user-select: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-background;
  box-shadow: 0 0 2px $color-text;

  @include font ($size: 1.6rem, $height: 1, $weight: 700);
  color: $color-text;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;

  outline: none;

  @extend %transition-hover;

  @include media-hover {
    &:hover {
      background-color: rgba($color-active, 0.3);
    }
  }

  &:active {
    background-color: $color-active;
    @extend %transition-active;
  }
}
