
.donut {
  $bluebell: #979fd0;
  $width: 3.4rem;
  $height: 3.4rem;

  position: absolute;
  left: calc(50% - #{$width} / 2);
  top: calc(50% - #{$height} / 2);

  width: $width;
  height: $height;

  border-radius: 50%;
  border: 0.5rem solid rgba($bluebell, 0.3);

  border-top-color: $btn-color-hover;

  animation: 1.5s spin infinite linear;

  @extend %transition-hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
