@include media-hover {
  [data-placement="top"]:hover::after,
  [data-placement="right"]:hover::after,
  [data-placement="bottom"]:hover::after,
  [data-placement="left"]:hover::after {
    content: attr(data-title);

    position: absolute;
    display: block;

    min-width: 10rem;
    max-width: 15rem;

    border-radius: $radius-border-tooltips;
    background-color: $color-background-tooltip;
    box-shadow: $box-shadow-tooltips;

    padding: 3px 8px;
    color: $color-tooltip;
    font-size: $font-size-tooltips;
    line-height: 1.3;
    text-align: center;

    z-index: $z-tooltips;
  }
  
  [data-placement="top"]:hover::before,
  [data-placement="right"]:hover::before,
  [data-placement="bottom"]:hover::before,
  [data-placement="left"]:hover::before {
    content: "";

    position: absolute;

    border: transparent 5px solid;

    z-index: $z-tooltips;
  }
}

/* tooltip-top ----------------------------------------------------------------------- */
@include media-hover {
  [data-placement="top"]:hover::after {
    left: 50%;
    top: -1rem;
    transform: translateX(-50%) translateY(-100%);
  }
  
  [data-placement="top"]:hover::before {
    top: -1rem;
    left: calc(50% - 5px);

    border-width: 5px 5px 0 5px;
    border-top-color: $color-background-tooltip;
  }
}

/* tooltip-right --------------------------------------------------------------------- */
@include media-hover {
  [data-placement="right"]:hover::after {
    right: -1rem;
    bottom: 50%;
    transform: translate(100%, 50%);
  }
  
  [data-placement="right"]:hover::before {
    right: -1rem;
    bottom: calc(50% - 5px);

    border-width: 5px 5px 5px 0;
    border-right-color: $color-background-tooltip;
  }
}

/* tooltip-bottom -------------------------------------------------------------------- */
@include media-hover {
  [data-placement="bottom"]:hover::after {
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%) translateY(100%);
  }
  
  [data-placement="bottom"]:hover::before {
    bottom: -1rem;
    left: calc(50% - 5px);

    border-width: 0 5px 5px 5px;
    border-bottom-color: $color-background-tooltip;
  }
}

/* tooltip-left ---------------------------------------------------------------------- */
@include media-hover {
  [data-placement="left"]:hover::after {
    left: -1rem;
    bottom: 50%;
    transform: translateX(-100%) translateY(50%);
  }
  
  [data-placement="left"]:hover::before {
    left: -1rem;
    bottom: calc(50% - 5px);

    border-width: 5px 0 5px 5px;
    border-left-color: $color-background-tooltip;
  }
}
