@import '../../styles/sass/abstract/abstracts';

.wrapper_button {
  position: absolute;

  top: 0;
  right: 0;
  z-index: 1000;

  @include size(3rem);

  font-size: 1.5rem;

  border-radius: $btn-border-radius;
}

.wrapper_button_icon {
  font-size: inherit;
}
