@import '../../styles/sass/abstract/abstracts';
@import '../../styles/sass/layouts/main';

.view_button {
  position: absolute;

  top: 0;
  right: 0;
  z-index: 1000;

  @include size(3rem);

  padding: 0.25rem;
  border: $border;
  border-radius: 2px;

  color: aqua;
  font-weight: 700;
  font-size: 1rem;

  @extend %transition-hover;

  @include media-hover {
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
}
