@import '../../styles/sass/abstract/abstracts';

.fullscreen_open {
  display: block;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;

  @include flex();

  background-color: $color-background;
}

.wrapper_button {
  position: absolute;

  top: 0;
  right: 0;
  z-index: 1000;

  @include size(3rem);

  font-size: 2rem;

  border-radius: $btn-border-radius;
}
