@import '../../styles/sass/abstract/abstracts';

$input-height: 3rem;

.view_container {
  position: relative;

  width: 100%;

  border-radius: $radius-border-view;
}

.view_form {
  width: calc(100% - 3rem);
}

.view_search {
  width: 100%;
  max-width: 40rem;
  height: $input-height;
  padding: 0 calc(0.5 * #{$input-height});

  background-color: $color-background;

  border: none;
  border-radius: calc(0.5 * #{$input-height});

  color: $color-text-dialog;
  font-weight: 700;
  font-size: 1.6rem;

  &::-ms-input-placeholder {
    color: inherit;
    opacity: 0.3;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.3;
  }

  &:focus {
    box-shadow: inset $box-shadow-dialog;

    &::placeholder {
      opacity: 0;
    }
  }
}