@import '../../styles/sass/abstract/abstracts';

$input-height: 3rem;

.view_container {
  position: relative;

  width: 100%;

  border-radius: $radius-border-view;
}

.view_form {
  width: calc(100% - 3rem);
}

.view_search {
  width: 100%;
  height: $input-height;
  padding: 0 calc(0.5 * #{$input-height});

  background-color: $color-border-view;

  border: none;
  border-radius: calc(0.5 * #{$input-height});

  color: $color-text-marked;
  font-weight: 700;
  font-size: 1.6rem;
}