@import '../../styles/sass/abstract/abstracts';

.switcher_container {
  position: relative;

  @include flex();
}

.switcher_item {
  @include flex();

  border-left: $border;
  border-right: $border;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.switcher_radio {
  width: 6.5rem;
  height: 2.5rem;

  @include media-landscape {
    width: 6.0rem;
  }

  @include media-mobile {
    width: 5.5rem;
  }

  @include media-min {
    width: 4.8rem;
  }
}
