@import '../../styles/sass/abstract/abstracts';

.main_fullscreen {
  display: none;
}

.app_main_data {
  position: relative;

  display: grid;

  @include size(100%);

  grid-template-rows: 2fr 2fr 6fr;
  grid-template-columns: minmax(0, 2fr) minmax(0, 5fr);
  grid-gap: 0.5rem;

  grid-template-areas:
  "tableView chartView"
  "listView chartView"
  "listView mapView";

  justify-content: center;
  align-content: center;
}

.app_main_table {
  position: relative;

  grid-area: tableView;

  @include size(100%);
  @include flex();
}

.app_main_list {
  position: relative;

  grid-area: listView;

  @include size(100%);
  @include flex();
}

.app_main_map {
  position: relative;

  grid-area: mapView;

  @include size(100%);
  @include flex();
}

.app_main_chart {
  position: relative;

  grid-area: chartView;

  @include size(100%);
  @include flex();
}
